.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.apk
*.java.orig
bin
gen
local.properties
dev/
src/com/liato/bankdroid/db/Crypto.*
src/com/liato/bankdroid/db/Crypto.java.dev
