.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.apk
bin
gen
local.properties
*.jar
dev/
src/com/liato/bankdroid/Crypto.java
src/com/liato/bankdroid/Crypto.java.dev
