<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.liato.bankdroid"
	android:versionName="1.8.0" android:versionCode="120">
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:debuggable="false">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:multiprocess="false"
			android:alwaysRetainTaskState="false"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@style/BankdroidTheme">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".TransactionsActivity"
			android:label="@string/app_name"
			android:theme="@style/BankdroidTheme">
		</activity>
		<activity
			android:name=".WebViewActivity"
			android:label="@string/app_name"
			android:theme="@style/BankdroidTheme"
			android:configChanges="keyboardHidden|orientation">
		</activity>
		<activity
			android:name=".BankEditActivity"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@style/BankdroidTheme">
		</activity>
		<activity
			android:name=".SettingsActivity"
			android:label="@string/app_name"
			android:theme="@style/BankdroidTheme">
		</activity>
		<activity
			android:name=".AboutActivity"
			android:label="@string/app_name"
			android:theme="@style/BankdroidTheme">
		</activity>
		<activity
			android:label="@string/app_name"
			android:theme="@style/BankdroidTheme"
			android:name=".lockpattern.ChooseLockPattern">
		</activity>
		<activity
			android:label="@string/app_name"
			android:theme="@style/BankdroidTheme"
			android:name=".lockpattern.ChooseLockPatternExample">
		</activity>
		<activity
			android:label="@string/app_name"
			android:theme="@style/BankdroidTheme"
			android:name=".lockpattern.ChooseLockPatternTutorial">
		</activity>
		<activity
			android:theme="@style/BankdroidTheme"
			android:label="@string/app_name"
			android:name=".lockpattern.ConfirmLockPattern">
		</activity>
		<activity
			android:theme="@android:style/Theme.Dialog"
			android:name=".appwidget.WidgetConfigureActivity">
			<intent-filter>
				<action
					android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<receiver
			android:label="@string/widget_name_small"
			android:name=".appwidget.BankdroidWidgetProvider_2x1">
			<intent-filter>
				<action
					android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action
					android:name="com.liato.bankdroid.WIDGET_REFRESH" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_info" />
		</receiver>

		<receiver
			android:label="@string/widget_name_large"
			android:name=".appwidget.BankdroidWidgetProvider_4x1">
			<intent-filter>
				<action
					android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action
					android:name="com.liato.bankdroid.WIDGET_REFRESH" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_info_large" />
		</receiver>

		<service
			android:enabled="true"
			android:name=".appwidget.AutoRefreshService" />
		<service
			android:enabled="true"
			android:name=".appwidget.BankdroidWidgetProvider$WidgetService" />
		<receiver
			android:name="StartupReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED" />
				<action
					android:name="android.intent.action.PACKAGE_ADDED"></action>
				<action
					android:name="android.intent.action.PACKAGE_CHANGED"></action>
				<action
					android:name="android.intent.action.PACKAGE_REPLACED" />
				<data
					android:scheme="package"
					android:path="com.liato.bankdroid" />
			</intent-filter>
		</receiver>
		<service
			android:name=".liveview.LiveViewService"
			android:label="LiveView plugin service">
		</service>
		<receiver
			android:name=".liveview.PluginReceiver">
			<intent-filter>
				<action
					android:name="com.sonyericsson.extras.liveview.LAUNCH_PLUGIN" />
			</intent-filter>
		</receiver>

		<provider
			android:name=".provider.BankTransactionsProvider"
			android:syncable="false"
			android:multiprocess="true"
			android:exported="true"
			android:authorities="com.liato.bankdroid.provider.BankTransactionsProvider"
			android:permission="com.liato.bankdroid.permission.READ_ACCESS_BANK_TRANSACTIONS" />
		<activity
			android:name="PairApplicationsActivity"
			android:label="@string/app_name"
			android:multiprocess="false"
			android:alwaysRetainTaskState="false"
			android:theme="@style/BankdroidTheme">
			<intent-filter>
				<action
					android:name="com.liato.bankroid.PAIR_APPLICATION_ACTION" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk
		android:targetSdkVersion="4"
		android:minSdkVersion="4" />
	<uses-permission
		android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission
		android:name="android.permission.VIBRATE" />
	<uses-permission
		android:name="com.sonyericsson.extras.liveview.permission.LIVEVIEW_API" />
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true" />
	<permission
		android:name="com.liato.bankdroid.permission.READ_ACCESS_BANK_TRANSACTIONS"
		android:label="@string/permission_provider_label"
		android:description="@string/permission_provider_desc"
		android:protectionLevel="dangerous" />
</manifest> 